{"filter":false,"title":".gitattributes","tooltip":"/cms/.gitattributes","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1509535624920,"hash":"19b0383e702edb53b562bef6acd41c6a534e28f0"}